<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Work Flow</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class='wrapper'>
      <div class='container'>
        <h1>Work Flow</h1>
        <p>Building a more convenient way to work!</p>
        <a href='nextpage.html'>
          <button type="button" name="button">nextpage.html</button>
        </a>
      </div>
    </div>

    <script type="text/javascript" src='js/index.js'></script>

  </body>
</html>
